<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Help Request Email</title>
    <style>
      td.title-contact { color: #0f0f0f; font-weight: 700; font-size: 16px; line-height: 24px; margin-bottom: 12px; margin-top: 0px; text-decoration: none; } td.contact {
      color: #0f0f0f; font-weight: 400; font-size: 16px; margin-bottom: 12px; margin-top: 0px; line-height: 24px; text-decoration: none; } span.infor { font-weight: 700;
      text-decoration: none; font-size: 16px; color: #ff5576; }
    </style>
  </head>
  <body>
    <header style="background-color: #f8f9fa;">
      <h2>Help Request from {{fullName}}</h2>
    </header>

    <main style="background-color: #f8f9fa;">
      <div style="margin:0 auto;max-width:600px;">
        <div style="width:600px;">
          <img
            alt="welcome image"
            height="auto"
            src="https://images.unsplash.com/photo-1593522558438-33e8435aa474?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80"
            style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:14px;"
            width="550"
          />
        </div>
        <div style="margin:0 auto;max-width:520px;">
          <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
            <tbody>
              <tr>
                <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
                  <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                      <tr>
                        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                          <div style="font-family:Alata;font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#000000;">
                            <h1 style="margin: 0; font-size: 32px; line-height: 40px;">Hi
                              {{name}}!
                              <br />Thank you for contacting with us and welcome to Non Conformities Application!</h1>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                          <div style="font-family:Alata;font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#000000;"><p>This message was sent from:
                              <span>{{fullName}}</span>
                            </p></div>
                          <div style="font-family:Alata;font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#000000;"><p>Sender's email address:
                              <span>{{email}}</span></p></div>
                          <div style="font-family:Alata;font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#000000;"><p>The message sent to us was:</p><span
                            >{{message}}</span></div>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                          <div style="font-family:Alata;font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#000000;">Click on the link below to complete
                            your reading and get started responding to your client!</div>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" vertical-align="middle" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                          <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                            <tr>
                              <td
                                align="center"
                                bgcolor="#ea4a40"
                                role="presentation"
                                style="border:none;border-radius:3px;cursor:auto;mso-padding-alt:10px 25px;background:#ea4a40;"
                                valign="middle"
                              >
                                <a
                                  href="https://google.com"
                                  style="display: inline-block; background: #ea4a40; color: #ffffff; font-family: Alata; font-size: 14px; font-weight: bold; line-height: 30px; margin: 0; text-decoration: none; text-transform: uppercase; padding: 10px 25px; mso-padding-alt: 0px; border-radius: 3px;"
                                  target="_blank"
                                > Complete reading </a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                          <div style="font-family:Alata;font-size:14px;font-weight:400;line-height:24px;text-align:left;color:#333333;">Have questions or need help? Email us
                            at
                            <a href="#" style="color: #ea4a40; text-decoration: none;"> quynhluu1305@gmail.com </a></div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="margin:0 auto;max-width:520px;">
          <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
            <tbody>
              <tr>
                <td style="direction:ltr;font-size:0px;padding:0px;text-align:center;">
                  <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                      <tr>
                        <td style="font-size:0px;padding:10px 25px;word-break:break-word;">
                          <p style="border-top:solid 1px #b73e3e;font-size:1px;margin:0 auto;width:100%;">
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                          <div style="font-family:Alata;font-size:14px;font-weight:400;line-height:24px;text-align:center;color:#333333;"><a
                              class="footer-link"
                              href="#"
                              style="text-decoration: none; color: #000;"
                            >Support</a>
                            &nbsp; | &nbsp;
                            <a class="footer-link" href="#" style="text-decoration: none; color: #000;">Forums</a>
                            &nbsp; | &nbsp;<a class="footer-link" href="#" style="text-decoration: none; color: #000;">Contact</a>
                            &nbsp; | &nbsp;<a class="footer-link" href="#" style="text-decoration: none; color: #000;">Log In</a></div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="margin:0px auto;max-width:520px;">
          <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
            <tbody>
              <tr>
                <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
                  <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                      <tr>
                        <td style="font-size:0px;word-break:break-word;">
                          <div style="height:1px;"> &nbsp; </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>

    <footer style="background-color: #fffdf4; text-align:center">
      <table style="margin: 0 auto;">
        <tr>
          <td align="left" class="title-contact">Contact information (Office hours)</td>
        </tr>
        <tr>
          <td align="left" class="contact">Company Name: <span class="infor">Non Conformities Application</span></td>
        </tr>
        <tr>
          <td align="left" class="contact">Address: <span class="infor">198 West 21th Street, Suite 721 New York NY 10016</span></td>
        </tr>
        <tr>
          <td align="left" class="contact">Email: <span class="infor">quynhluu1305@gmail.com</span></td>
        </tr>
        <tr>
          <td align="left" class="contact">Phone: <span class="infor">0966193904</span></td>
        </tr>
      </table>
    </footer>
  </body>
</html>