<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Mail Notification</title>
    <style>
      body: { color: black; }, div.main: { font-weight: 100; font-size: 20px ; line-height: 30px; font-family: Verdana; }
    </style>
  </head>
  <body>
    <div style="border: 1px solid black;  width: 95%;border-radius: 10px 10px;">
      <div style="padding:30px;">
        <p style="font-family: Verdana; font-size:25px">Hi {{validatorName}},</p>
        <p style="font-weight: 100; font-size: 16px ; line-height: 25px;  font-family: Verdana; color: #1C1E3A;">A New NC has been created with below details. You are assigned
          as a validator on this NC. Kindly click on this
          <a href="https://khoaluan-r8ub.onrender.com/ncg/ncr-details/{{ncId}}" target="_blank">Link</a>
          to complete your action.</p>
        <br />
        <div
          style="background: transparent linear-gradient(90deg, #2BAD90 0%, #00489A 100%) 0% 0% no-repeat padding-box;
                        background: transparent linear-gradient(90deg, #2BAD90 0%, #00489A 100%) 0% 0% no-repeat padding-box;
                        height: fit-content; color: white; padding: 10px;margin:auto"
          class="main"
        >
          <p style="font-size: 18px;">Details of the Non Conformity</p>
          <ul style="font-size: 18px;">
            <li>NC ID: {{ncId}}</li>
            <li>Problem Title: {{ncProblemTitle}}</li>
            <li>NC Status: {{ncStatus}}</li>
            <li>Created By: {{ncCreatedBy}}</li>
            <li>Created Date: {{ncCreatedDate}}</li>
          </ul>
        </div>
        <p>Please do not reply to this message.</p>
        <p>Best Regards,
          <br />
          <span>Non-Conformity Team</span>
        </p>
      </div>
    </div>
  </body>
</html>